@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --stColor: #dad3e0;
  --bodyColor:#202124;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--bodyColor);
  color: var(--stColor);
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.root {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 84px 24px 24px 24px
}

.sidebar {
  flex-shrink: 0;
  
}

.sidebar > div {
  height: 100vh;
  width: 360px;
  padding-top: 60px;
  overflow-x: hidden;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.component {
  border: 1px solid var(--stColor);
  border-radius: 10px;
  position: relative;
  padding: 32px 16px 16px 16px;
  background-color: var(--bodyColor);
  animation-name: flash;
  animation-duration: 2s;
}


@keyframes flash {
  0%   {background-color:#3657bb}
  100% {background-color:var(--bodyColor)}
}

.component-path {
  border: 1px solid var(--stColor);
  position: absolute;
  left: 0;
  top: 0;
  background: var(--bodyColor);

  transform: translate(8px, -50%);
  padding: 4px 8px;
  border-radius: 999px;
  font-size: 13px;
}

.component-description{
  line-height: 1.8;
  color: white;
}
.component-description  ul{
  padding: 0;
  margin: 0;
}
.component-description  li{
  padding: 0;
  margin: 0;
}
.component-description  a{
  color: rgb(106, 85, 224);
}


li {
  list-style: none;
}

.tree ul {
  padding-left: 0.25rem;
  list-style: none;
}
.tree ul li {
  position: relative;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
}

.tree {
  position: relative;
  background: #23272e;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--stColor);
}

.tree ul li:before {
  position: absolute;
  top: 16px;
  left: 0;
  width: 16px;
  height: 1px;
  margin: auto;
  content: "";
  background-color: var(--stColor);
}

.tree ul li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  content: "";
  background-color: var(--stColor);
}
.tree ul li:last-child:after {
  height: 15px;
}

a {
  color: var(--stColor);
  padding: 4px 8px;
  border-radius: 999px;
}

.file {
  font-size: 11px;

  margin-right: 8px;
  width: 16px;
  height: 16px;
  display: inline-grid;
  place-items: center;
  border-radius: 99px;
}

.route {
  color: #003320;
  background: #72f94d;
}
.layout-route {
  color: #03021e;
  background: #4e51e8;
}

a.active {
  background: #5c0684;
}

.toolbar {
  padding: 16px;
  margin-bottom: 16px;
  background: #23272e;
  border-radius: 0.5rem;
  animation-name: flash-opt;
  animation-duration: 2s;
  display: flex;
  align-items: center;
}
.breadcrumb{
  flex-grow: 1;
}

.outlet-wrapper {
  padding: 24px 16px 16px 16px;
  background: #23272e;
  border-radius: 0.5rem;
  animation-name: flash-opt;
  animation-duration: 2s;
}

@keyframes flash-opt {

  0%   {background-color:#7ce46e}
  100% {background-color:#23272e}
}

.modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background: #23272e;
  box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 500px;
}

.list-items>div>div{
background-color: #2C262D;
display: flex;
justify-content: center;
align-items: center;
border-radius: 0.5rem;
height: 60px;
}
.list-items>div{
  padding:0.5rem;
}

.list-items{
  padding-bottom: 24px;
}

.val-param{
  color: #d6429d;
}
.error-message{
  color: rgb(170, 51, 51);
}

.grid{
  margin-top: 1rem;
  display: grid;
  width: 400px;
  height: 200px;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 0.5rem;
}
.grid-item{
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
}
#grid-item-1{
  grid-column: 1 / span 4;
  grid-row: 1/ span 1;
  background: #505099;
}
#grid-item-2{
  grid-column: 1 / span 2;
  grid-row: 2/ span 1;
  background: rgb(189 92 121);
}
#grid-item-3{
  grid-column: 4 / span 1;
  grid-row: 2/ span 1;
  background: rgb(108 161 132);
}
#grid-item-4{
  grid-column: 1 / span 4;
  grid-row: 3/ span 1;
  background: rgb(189 203 109);
}

.header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 56px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17171a;
  padding: 0px 24px 0px 8px;
}

.header-logo-contanier{
  display: inline-flex;
  align-items: flex-end;
  text-decoration: none;
}

.header-right{
  display: inline-flex;
  align-items: center;
}

.remix-logo{
  height: 28px;
}

.header-logo-tag{
  margin-left: 4px;
  font-size: 0.8rem;
  background-color: #2a880f;
  padding: 2px 8px;
  border-radius: 99px;
  font-weight:600;
}

.header-github{
  height: 32px;
  width: 32px;
  background-color: #3b3b44;
  display: grid;
  place-items: center;
  padding: unset;
  margin-left: 12px;
}

.github-icon{
  width: 20px;
  height: 20px;
}

.header-v2-demo{
  background-color: #3b3b44;
  text-decoration: unset;
  padding: 4px 12px;
}